# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# macOS
.DS_Store

# Misc
*.pickle
*.pkl
